<div class="Frame top">
    <div class="View container">
        <span>www.3ico.com</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <span>
            <i class="ico-phone"></i>
            +13615966354
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <span>
        官方QQ群：①661222492&nbsp;&nbsp;②661733862&nbsp;&nbsp;
        客服QQ：①489941545&nbsp;&nbsp;②1690176159
        <!-- ICO is Initial Crypto-Token Offering
        比特币：<span id="js-BTC" class="green"></span> BTC
        以太坊：<span id="js-ETH" class="green"></span> ETH -->
        </span>
        <ul class="menus">
            <li id="js-login">
                <a class="login" href="/manage/index.html#/login">
                    <i class="ico-user"></i>
                    登录
                </a>
            </li>
            <li id="js-register">
                <a class="register" href="/manage/index.html#/register">注册</a>
            </li>
        </ul>
    </div>
</div>
