.outer_wrap{
    min-width:1200px;
}
.Frame.top{
    height: 49px;
    border-bottom: 1px solid #edecec;
    background-color: #f6f5f5;
    line-height: 49px;
    font-size: 14px;
    color: #666;
    a{
        color: #666;
        &:hover{
            opacity: .9;
        }
    }
    .green{
        color: #6eb92b;
    }
    .menus{
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            float: left;
            margin-left: 15px;
        }
    }
    .register{
        display: inline-block;
        width: 62px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        background-color: #22a875;
        border-radius: 3px;
        cursor: pointer;
        vertical-align: middle;
    }
    .ico-phone{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(/fe/img/ico-top.png);
        background-repeat: no-repeat;
        background-position: -20px 0;
        vertical-align: middle;
    }
    .ico-user{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../img/ico-top.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
    }
}

.header{
    height: 116px;
    background-color: #fff;
    @include clearfix;
    .logo{
        float: left;
        margin: 25px 0 0 0;
    }
    .menus{
        float: right;
        margin: 50px 0 0 0;
        padding: 0;
        list-style: none;
        color: #333;
        a{
            padding: 0 6px 12px 6px;
            color: #333;
            &.active,&:hover{
                color: #04a1ec;
                border-bottom: 1px solid #15a7ed;
            }
        }
        li{
            float: left;
            margin-left: 30px;
        }
    }
}

.Frame.bottom{
    @include clearfix;
    padding: 36px 0 50px;
    background-color: #202020;
    .hd{
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 15px;
        color: #fff;
        border-bottom: 1px dashed #3e3e3e;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            position: relative;
            margin-top: 8px;
            padding: 0 0 8px 30px;
            border-bottom: 1px dashed #3e3e3e;
            color: #7e7e7e;
            font-size: 14px;
            line-height: 20px;
            a{
                color: #7e7e7e;
            }
            .ico{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .ico{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(/fe/img/ico-bottom.png);
        background-repeat: no-repeat;
        &.arrow{
            background-position: -80px 0;
            &:before{
                position: absolute;
                top: 50%;
                left: 2px;
                margin-top: -4px;
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                border-width: 1px;
                border-style: solid;
                border-color: #7e7e7e #7e7e7e transparent transparent;
                transform: rotate(45deg);
            }
        }
        &.telephone{
            background-position: 0 0;
        }
        &.mail{
            background-position: -20px 0;
        }
        &.phone{
            background-position: -40px 0;
        }
        &.location{
            background-position: -60px 0;
        }
    }
    .menus{
        float: left;
        width: 180px;
    }
    .contact{
        margin-left: 35px;
        float: left;
        width: 180px;
    }
    .map{
        margin-left: 35px;
        float: left;
        width: 400px;
        text-align: center;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .follow{
        margin-left: 35px;
        padding-top: 25px;
        float: left;
        width: 100px;
        text-align: center;
        color: #fff;
        .qrcode{
            margin-top: 16px;
        }
    }
}

.copyright{
    padding: 16px 0;
    background-color: #121212;
    font-size: 12px;
    color: #7e7e7e;
    a{
        color: #005bac;
    }
}

.home{
    .banner-swiper{
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
        .swiper-slide{
            background-repeat: no-repeat;
            background-position: center;
            img{
                height: 100%;
            }
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .swiper-pagination-bullet{
            width: 12px;
            height: 12px;
            background-color: #fff;
        }
        .swiper-pagination-bullet-active{
            background-color: #18be98;
        }
    }

    .notice{
        height: 60px;
        border-bottom: 1px solid #ececec;
        background-color: #f2f2f2;
        font-size: 16px;
        line-height: 60px;
        .container{
            padding-left: 100px;
        }
        .title{
            position: absolute;
            top: 0;
            left: 0;
            color: #005bac;
        }
    }

    .notice-swiper{
        position: relative;
        width: 100%;
        height: 60px;
        overflow: hidden;
        .swiper-button-prev,.swiper-button-next{
            margin-top: -10px;
            width: 12px;
            height: 20px;
            background-size: 12px 20px;
        }
        .swiper-button-prev{
            left: auto;
            right: 40px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23b6b6b6'%2F%3E%3C%2Fsvg%3E");
        }
        .swiper-button-next{
            right: 0;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23b6b6b6'%2F%3E%3C%2Fsvg%3E");
        }
    }
    .Module.info{
        @include clearfix;
        margin-top: 60px;
        height: 310px;
        overflow: hidden;
        .hd{
            @include clearfix;
            padding-bottom: 12px;
            border-bottom: 1px solid #e7e7e7;
            .title{
                float: left;
                padding-left: 18px;
                border-left: 6px solid #005bac;
                font-size: 30px;
                color: #333;
            }
            .more{
                float: right;
                display: block;
                margin-top: 14px;
                width: 48px;
                height: 18px;
                text-align: center;
                border-radius: 18px;
                background-color: #22a875;
                font-size: 12px;
                line-height: 18px;
                color: #fff;
            }
        }
        .bd{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .left{
            float: left;
            width: 482px;
            .hd{
                margin-bottom: 20px;
            }
            .bd{
                li{
                    position: relative;
                    margin-top: 12px;
                    padding-left: 108px;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 30px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 30px;
                    color: #333;
                    font-size: 14px;
                }
                .time{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 88px;
                    height: 28px;
                    border: 1px solid #6eb92b;
                    color: #6eb92b;
                    border-radius: 3px;
                    font-size: 14px;
                    line-height: 28px;
                    text-align: center;
                }
                .tag{
                    color: #15a7ed;
                }
            }
        }
        .right{
            float: right;
            width: 482px;
            .top{
                position: relative;
                padding: 20px 0 20px 132px;
                border-bottom: 1px dashed #999;
                .pic{
                    position: absolute;
                    top: 20px;
                    left: 0;
                    width: 116px;
                    height: 72px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                a{
                    .title{
                        margin-bottom: 16px;
                        font-size: 16px;
                        color: #005bac;
                    }
                    .desc{
                        height: 42px;
                        overflow: hidden;
                        font-size: 14px;
                        line-height: 1.5;
                        color: #666;
                    }
                }
            }
            .list{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    position: relative;
                    margin-top: 12px;
                    padding-left: 46px;
                    padding-right: 100px;
                    line-height: 16px;
                }
                .tag{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 36px;
                    height: 16px;
                    font-size: 12px;
                    line-height: 16px;
                    color: #fff;
                    text-align: center;
                    background-color: #8d8b8b;
                    &.highlight{
                        background-color: #22a875;
                    }
                }
                .time{
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 12px;
                    color: #999;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 16px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }

    .projects{
        margin-top: 100px;
        padding: 50px 0 100px;
        background-color: #f8f8f8;
        .hd{
            position: relative;
            text-align: center;
            .title{
                margin-bottom: 20px;
                text-align: center;
                font-size: 30px;
                color: #333;
            }
            .tabs{
                position: relative;
                z-index: 1;
                display: inline-block;
                padding: 0 20px;
                text-align: center;
                background-color: #f8f8f8;
                &:before,&:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -6px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #999;
                    border-radius: 50%;
                    background-color: #fff;
                }
                &:before{
                    left: -6px;
                }
                &:after{
                    right: -6px;
                }
                .tab{
                    margin: 0 5px;
                    display: inline-block;
                    color: #005bac;
                    vertical-align: top;
                    a{
                        position: relative;
                        display: block;
                        padding: 7px 14px;
                        border: 1px solid #005bac;
                        color: #005bac;
                        border-radius: 3px;
                        &.active,&:hover{
                            background-color: #005bac;
                            color: #fff;
                            &:before{
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -2.5px;
                                display: block;
                                width: 0;
                                height: 0;
                                border-width: 5px;
                                border-style: solid;
                                border-color: #005bac transparent transparent transparent;
                            }
                        }
                    }
                }
                .tabNoHover{
                    margin: 0 5px;
                    display: inline-block;
                    color: #005bac;
                    vertical-align: top;
                    a{
                        position: relative;
                        display: block;
                        padding: 7px 14px;
                        border: 1px solid #005bac;
                        color: #005bac;
                        border-radius: 3px;
                        &.active{
                            background-color: #005bac;
                            color: #fff;
                            &:before{
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -2.5px;
                                display: block;
                                width: 0;
                                height: 0;
                                border-width: 5px;
                                border-style: solid;
                                border-color: #005bac transparent transparent transparent;
                            }
                        }
                    }
                }
            }
            .line{
                position: absolute;
                top: 70px;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #e7e7e7;
            }
            .secondLine{
                top:19px;
            }
            .more{
                position: absolute;
                top: 61px;
                right: 0;
                display: block;
                width: 48px;
                height: 18px;
                text-align: center;
                border-radius: 18px;
                background-color: #22a875;
                font-size: 12px;
                line-height: 18px;
                color: #fff;
            }
            .smore{
                top:10px;
            }
        }
        .shd{
            margin-top:20px;
        }
        .bd{
            ul{
                margin: 0 0 0 -25px;
                padding: 0;
                list-style: none;
                @include clearfix;
            }
            li{
                float: left;
                margin: 25px 0 0 25px;
                width: 219px;
                overflow: hidden;
                padding: 4px;
                background-color: #fff;
                border: 1px solid #e5e5e5;
                border-radius: 3px;
            }
            .top{
                position: relative;
                width: 100%;
                height: 219px;
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                border-radius: 3px;
                .tip{
                    position: absolute;
                    top: 20px;
                    left: -70px;
                    width: 100%;
                    padding: 10px 0;
                    font-size: 18px;
                    color: #fff;
                    background-color: #22a875;
                    transform: rotate(-45deg);
                    text-align: center;
                }
                .time{
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    top: 140px;
                    padding: 12px 15px;
                    background-color: rgba(0, 0, 0, .4);
                    color: #fff;
                    font-size: 14px;
                }
            }
            .desc{
                height: 42px;
                overflow: hidden;
                margin-top: 16px;
                font-size: 14px;
                line-height: 1.5;
                color: #666666;
            }
            .progress{
                margin-top: 16px;
                .title{
                    margin-bottom: 10px;
                    font-size: 16px;
                    color: #22a875;
                }
                .bar{
                    display: inline-block;
                    width: 154px;
                    height: 14px;
                    background-color: #f1f1f1;
                    border-radius: 14px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
                    vertical-align: top;
                    overflow: hidden;
                    .inner{
                        box-sizing: border-box;
                        display: block;
                        height: 100%;
                        background-color: #7ed352;
                        border: 1px solid #52d37c;
                        border-top-left-radius: 14px;
                        border-bottom-left-radius: 14px;
                        box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
                    }
                }
                .percent{
                    float: right;
                    font-size: 14px;
                    line-height: 1;
                    color: #22a875;
                }
            }
            .info{
                margin: 18px 0 10px;
                .item{
                    box-sizing: border-box;
                    display: inline-block;
                    width: 47%;
                    padding: 0 5px;
                    font-size: 12px;
                    vertical-align: top;
                    .val{
                        display: block;
                        height: 16px;
                        overflow: hidden;
                        color: #22a875;
                    }
                    .label{
                        margin-top: 8px;
                        display: block;
                        color: #666;
                    }
                    +.item{
                        border-left: 1px solid #f1f1f1;
                    }
                }
            }
        }
    }

    .about1{
        position: relative;
        height: 650px;
        background: url(/fe/img/bg-about.jpg) no-repeat center;
        .inner{
            position: absolute;
            left: 50%;
            margin-top: 50px;
            margin-left: 40px;
            line-height: 1.6;
            color: #fff;
            .tip{
                font-size: 18px;
            }
            .line{
                margin-top: 25px;
                width: 120px;
                height: 2px;
                background-color: #22a875;
            }
            .list{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    position: relative;
                    margin-top: 30px;
                    padding-left: 120px;
                    .title{
                        font-size: 24px;
                    }
                    .desc{
                        margin-top: 10px;
                        font-size: 12px;
                    }
                }
                .ico{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 87px;
                    height: 87px;
                    background-image: url(/fe/img/ico-about.png);
                    background-repeat: no-repeat;
                    &.group{
                        background-position: 0 0;
                    }
                    &.cloud{
                        background-position: -87px 0;
                    }
                    &.idea{
                        background-position: -174px 0;
                    }
                }
            }
        }
        .green{
            color: #6eb92b;
        }
    }

    .about2{
        padding: 120px 0;
        background-color: #f8f8f8;
        .item{
            display: inline-block;
            width: 24%;
            text-align: center;
            font-size: 24px;
            color: #333;
        }
        .ico-safe, .ico-credit, .ico-fair, .ico-transparent{
            display: inline-block;
            width: 150px;
            height: 150px;
            background-image: url(/fe/img/ico-about2.png);
            background-repeat: no-repeat;
        }
        .ico-safe{
            background-position: 0 0;
        }
        .ico-credit{
            background-position: -150px 0;
        }
        .ico-fair{
            background-position: -300px 0;
        }
        .ico-transparent{
            background-position: -450px 0;
        }
    }

    .partner{
        padding: 80px 0 60px;
        .hd{
            position: relative;
            text-align: center;
            .title{
                position: relative;
                display: inline-block;
                padding: 0 50px;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                background-color: #fff;
                &:before,&:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -6px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #999;
                    border-radius: 50%;
                    background-color: #fff;
                }
                &:before{
                    left: -6px;
                }
                &:after{
                    right: -6px;
                }
            }
            .line{
                position: absolute;
                top: 16px;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #e7e7e7;
            }
        }
        .bd{
            margin: 30px 0 0 -30px;
            padding: 0;
            list-style: none;
            @include clearfix;
            li{
                float: left;
                margin: 30px 0 0 30px;
                width: 223px;
                overflow: hidden;
                border: 1px solid #e3e3e3;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
