.project{
    >.main{
        padding-bottom: 60px;
    }
    .Module.top{
        padding: 35px 0;
        background-color: #373737;
        .title{
            font-size: 30px;
            color: #fff;
        }
        .crumb{
            margin-top: 10px;
            font-size: 14px;
            color: rgba(245, 245, 245, .6);
        }
    }
    .main{
        margin-top: 40px;
        @include clearfix;
    }
    .left{
        float: left;
        width: 763px;
        min-height: 600px;
        img{
            max-width: 100%;
        }
    }
    .right{
        float: right;
        width: 300px;
        .mod{
            padding: 35px 30px;
            border: 1px solid #e2e2e2;
            background-color: #f8f8f8;
            +.mod{
                margin-top: 30px;
            }

            .control{
                margin-top: 40px;
                .btn{
                    display: block;
                    padding: 0 20px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    border-radius: 3px;
                    color: #fff;
                    background: linear-gradient(#22a875, #1b9b6b);
                    cursor: pointer;
                    &:hover{
                        opacity: .9;
                    }
                }
            }

            &.info{
                padding-top: 5px;
                .item{
                    position: relative;
                    margin-top: 30px;
                    padding-left: 80px;
                    .label{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 70px;
                        height: 30px;
                        line-height: 30px;
                    }
                    .content{
                        font-size: 24px;
                        line-height: 30px;
                        color: #22a875;
                    }
                    +.item{

                    }
                }
                .progress{
                    margin-top: 40px;
                    .title{
                        font-size: 16px;
                        color: #22a875;
                    }
                    .bar{
                        margin-top: 20px;
                        display: inline-block;
                        width: 100%;
                        height: 14px;
                        background-color: #f1f1f1;
                        border-radius: 14px;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
                        vertical-align: top;
                        overflow: hidden;
                        .inner{
                            box-sizing: border-box;
                            display: block;
                            height: 100%;
                            background-color: #7ed352;
                            border: 1px solid #52d37c;
                            border-top-left-radius: 14px;
                            border-bottom-left-radius: 14px;
                            box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
                        }
                    }
                    .tip{
                        margin-top: 20px;
                        color: #666;
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
                .control{
                    input{
                        font-size:14px;
                        width: 120px;
                        height: 48px;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                        outline: none;
                        &::-webkit-input-placeholder{
                            color: #ddd;
                        }
                    }
                }
            }
            &.by{
                .hd{
                    font-size: 18px;
                    font-weight: bold;
                    color: #333;
                }
                .ico-by{
                    margin-right: 10px;
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    background: url(../img/ico-project.png) no-repeat 0 0;
                    vertical-align: middle;
                }
                .ico-msg{
                    margin-right: 10px;
                    display: inline-block;
                    width: 31px;
                    height: 35px;
                    background: url(../img/ico-project.png) no-repeat -120px 0;
                    vertical-align: bottom;
                }
                .bd{
                    margin-top: 30px;
                    padding-left: 80px;
                    position: relative;
                    .avatar{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .content{
                        .nick{
                            font-size: 18px;
                            color: #21a674;
                        }
                        .sub{
                            margin-top: 10px;
                            font-size: 14px;
                            color: #333333;
                        }
                        .time{
                            margin-top: 15px;
                            font-size: 14px;
                            color: #333333;
                        }
                        .btn{
                            margin-top: 25px;
                            width: 130px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            border: 1px solid #23a474;
                            background-color: #f8f8f8;
                            color: #23a474;
                            border-radius: 3px;
                            cursor: pointer;
                        }
                    }
                }
            }
            &.detail{
                .ico-book{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 74px;
                    height: 74px;
                    background: url(../img/ico-project.png) no-repeat -40px 0;
                    vertical-align: middle;
                }
                .bd{
                    position: relative;
                    padding-left: 90px;
                    .title{
                        font-size: 18px;
                        font-weight: bold;
                        color: #333;
                    }
                    .btn{
                        margin-top: 18px;
                        display: block;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 3px;
                        color: #fff;
                        background: linear-gradient(#22a875, #1b9b6b);
                        cursor: pointer;
                        &:hover{
                            opacity: .9;
                        }
                    }
                }
            }
            &.bottom{
                .hd{
                    padding-bottom: 10px;
                    color: #333;
                    border-bottom: 1px solid #e4e4e4;
                    .primary{
                        font-size: 18px;
                        color: #22a875;
                    }
                    .joined{
                        float: right;
                        font-size: 14px;
                    }
                }
                .bd{
                    margin-top: 15px;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 2;
                }
                .control{
                    margin-top: 30px;
                }
            }
        }
    }
}


.project-list{
    .tabs{
        margin-top: 40px;
        border-bottom: 1px solid #e3e3e3;
        ul{
            @include clearfix;
            margin: 0;
            margin-bottom: -1px;
            padding: 0;
            list-style: none;
        }
        li{
            float: left;
            margin-right: 30px;
            font-size: 18px;
            color: #333;
            a{
                display: block;
                padding: 10px;
                color: #333;
                border-bottom-width: 2px;
                border-bottom-style: solid;
                border-bottom-color: transparent;
                &.active,&:hover{
                    border-bottom-color: #005bac;
                }
            }
        }
    }
    .list{
        padding-bottom: 70px;
        table{
            margin-top: 30px;
            width: 100%;
            table-layout: fixed;
            border-collapse: 0;
            border-spacing: 0;
            th{
                padding: 16px 10px;
                background-color: #f6f6f6;
                font-size: 16px;
                color: #333;
                text-align: left;
            }
            tbody{
                td{
                    padding: 30px 20px;
                    border-bottom: 1px solid #e3e3e3;
                    font-size: 14px;
                    color: #333;
                }
                .name{
                    margin-bottom: 16px;
                    color: #005bac;
                    font-size: 16px;
                    font-weight: bold;
                }
                .link{
                    display: block;
                    padding: 5px;
                    background-color: #23ab77;
                    color: #fff;
                    text-align: center;
                    border-radius: 3px;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}
